<div class="about">
  <h2>Languages Map is an interactive tool that visualises where different languages are spoken around the world.</h2>
  <ul>
    <li>The tool allows you to select a range of different languages, and have the countries that speak those languages highlighted on a map in different colours.</li>
    <li>It's been created using Typescript, Angular, Bootstrap, HTML, and CSS.</li>
    <li>For more information, check out the project on <a href="https://www.github.com/dombinks/lang-map" taget="_blank">GitHub</a>.</li>
  </ul>

  <h1>FAQ:</h1>
  <h2>Why did you create this tool?</h2>
  <p>
    I've always been interested in languages, and how different languages have spread to different parts
    of the world. I wanted to create a way to see this information and interact with it.
  </p>
  <h2>Why isn't a certain country or territory highlighted when selecting a specific language?</h2>
  <p>
    The data for the place isn't available from the API I'm using,
    or wasn't on the list of places that speak the language I used.
    Generally, I've only included countries where the language is an official language. 
  </p>
  <h2>Why isn't a certain language available?</h2>
  <p>
    There are thousands of languages spoken around the world, so I've decided to only add a select few.
    In the future, I may decide to add other languages.
  </p>
</div>