<h2>Lang Map is an interactive tool that visualises where different languages are spoken around the world.</h2>

<br>

<h1>FAQ:</h1>
<h2>Why isn't a certain country or territory highlighted when selecting a specific language?</h2>
<p>
  The data for the place isn't available from the API I'm using,
  or wasn't on the list of places that speak the language I used.
  Generally, I've only included countries where the language is an official language. 
</p>
<h2>Why isn't a certain language available?</h2>
<p>
  There are thousands of languages spoken around the world, so I've decided to only add a select few.
  In the future, I may decide to add other languages.
</p>